---
layout: home
title: Oscar's personal web
description: Hi there 👋 I'm Oscar an 🇲🇽 Experimental Solid State Physicist with a great interest for Computational Physics.
permalink: /
---




<div class="container-lg p-responsive py-4 py-lg-6 my-xl-4 text-center">
  <h1 class="alt-h1 mb-2 text-white"></h1>
  <p class="f2-light text-white"> </p>
</div>
</div><!-- ends .full-width that started in header.html -->

<!-- <div class="container-lg p-responsive">
  <div class="Box clearfix p-4 p-sm-5 col-md-7 mx-auto mt-6">
    <div class="float-left">
      <img class="d-block pr-4" style="width: 80px;" alt="FedRAMP Logo" src="{{"/assets/img/Fedramp-logo.svg" | relative_url}}">
    </div>
    <div class="overflow-hidden">
      <p>GitHub is now Federal Risk and Authorization Management Program (FedRAMP) authorized.
      </p>
      <a href="{{"/fedramp/" | relative_url}}">Learn More {% octicon chevron-right height:18 class:"d-inline fill-blue ml-1" %}</a>
    </div>
  </div>
</div> -->

<section class="container-lg p-responsive py-5 py-md-6 my-lg-6">
  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon terminal height:28 class:"fill-blue d-inline mr-2" aria-label:terminal %}
        Repositories
      </h2>
      <p class="text-gray">Code collaboration and review.</p>
    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon server height:28 class:"fill-blue d-inline mr-2" aria-label:server %}
        Research Area
      </h2>
    </div>
  </div>
</section>

<!-- 
  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon beaker height:28 class:"fill-blue d-inline mr-2" aria-label:beaker %}
        Foster innovation at your agency
      </h2>
      <p class="text-gray">GitHub enables you to easily accept, continuously test, and rapidly deploy new ideas to build better software, faster.</p>
    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon tools height:28 class:"fill-blue d-inline mr-2" aria-label:tools %}
        Software built your way
      </h2>
      <p class="text-gray">Integrate third party tools, from project management to continuous integration, to build software in the way that works best for your agency.</p>
    </div>
  </div>

  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon code height:28 class:"fill-blue d-inline mr-2" aria-label:code %}
        InnerSource inside your agency
      </h2>
      <p class="text-gray">Build your agency’s software the way open source maintainers build theirs. Transparency and code reuse can help your team build better code.</p>
    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon lock height:28 class:"fill-blue d-inline mr-2" aria-label:lock %}
        Enterprise controls that agencies need
      </h2>
      <p class="text-gray">Encourage teams to work together while providing essential controls for employees and contractors alike using organizations and LDAP or CAS.</p>
    </div>
  </div>

  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon globe height:28 class:"fill-blue d-inline mr-2" aria-label:globe %}
        Public engagement, developer community
      </h2>
      <p class="text-gray">Engage with more than 40 million developers using GitHub. Publish open source software on GitHub.com. Onboard, train, and recruit developers with ease.</p>
    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon checklist height:28 class:"fill-blue d-inline mr-2" aria-label:checklist %}
        Skip the paperwork
      </h2>
      <p class="text-gray">GitHub.com's terms of service are approved by the GSA and most plans fall below the micro-purchase threshold. Purchase GitHub Enterprise with major government acquisition schedules.</p>
    </div>
  </div>

  <p class="text-center">
    <a href="https://github.com/features" class="btn btn-outline">Learn more about GitHub &rarr;</a>
  </p>
</section>


<section class="bg-gray-light">
  <div class="container-lg p-responsive py-5 py-md-6 ">

    <h2 class="alt-h2 text-center mb-3 mt-lg-6" id="more-than-just-code">More than just code</h2>
    <p class="alt-lead text-gray text-center col-md-10 mx-auto">Agencies use GitHub to engage developers and collaborate with the public on open source, open data and open government efforts. GitHub even renders common formats like <a href="https://github.blog/2014-02-14-rendered-prose-diffs/">text</a>, <a href="https://help.github.com/articles/rendering-csv-and-tsv-data">CSV</a>, <a href="https://github.blog/2015-03-17-pdf-viewing/">PDF</a>, <a href="https://help.github.com/articles/mapping-geojson-files-on-github">geospatial data</a> and Jupyter Notebooks.</p>

    <div class="my-4 my-lg-6 clearfix gutter-spacious">
      <div class="col-md-4 float-left animate-out mb-4">
        <h3 class="alt-h3 mb-3">Open Source</h3>
        <p><a href="https://github.com/showcases/government" target="_blank">
          <img src="assets/img/open-source.png" class="img-border" alt="Pull request launching gov.uk"/></a>
        </p>
        <small>The UK Government launched GOV.UK with a pull request</small>
      </div>
      <div class="col-md-4 float-left animate-out mb-4">
        <h3 class="alt-h3 mb-3">Open Data</h3>
        <p><a href="https://github.com/showcases/open-data" target="_blank">
          <img src="assets/img/open-data.png" class="img-border" alt="GeoJSON diff of Illinois 4th Congressional District"/></a>
        </p>
        <small>CFPB builds data visualizations and analysis tools with GitHub</small>
      </div>
      <div class="col-md-4 float-left animate-out mb-4">
        <h3 class="alt-h3 mb-3">Open Government</h3>
        <p><a href="https://github.com/showcases/policies" target="_blank">
          <img src="assets/img/open-gov.png" class="img-border" alt="Project Open Data"/></a>
        </p>
        <small>Find the US government’s open source projects at <a href="https://code.gov/">Code.gov</a></small>
      </div>
    </div>

    <p class="text-center">
      <a href="https://github.com/showcases" class="btn btn-outline">See more showcases &rarr;</a>
    </p>

  </div>
</section> -->
<!-- 
<section class="">
  <div class="container-lg p-responsive py-5 py-md-6 ">
    <h2 class="alt-h2 text-center mb-3 mt-lg-6" id="join-the-revolution">Join the Revolution</h2>
    <p class="alt-lead text-gray text-center col-md-10 mx-auto">Join the thousands of government organizations around the world who collaborate on code, data, policy, and more. See the rest of the <a href="/community">GitHub government community</a>.</p>
  </div>
  <div style="overflow: hidden;">
    {% assign count = 0 %}
    {% for group in site.data.governments %}
      {% for org in group[1] %}
        {% assign count = count | plus:1 %}
      {% endfor %}
    {% endfor %}
    <div class="featured-orgs text-center p-2 m-2">
      {% for org in site.featured_orgs %}
      <a href="https://github.com/{{ org }}" class="animate-in">{% avatar user=org size=80 %}</a>
      {% endfor %}
    </div>
  </div>
</section>

<section id="get-started" class="mini-section mt-6">
  <div class="container-lg p-responsive">
    <h2 class="alt-h2 text-center mb-3 mt-lg-6">Get started today</h2>
    <p class="alt-lead text-gray text-center col-md-10 mx-auto">Create a free account to get started with GitHub. <a href="mailto:government@github.com">Contact us</a> to learn more about hosting your own GitHub instance.</p>

    <div class="mt-md-6 clearfix gutter-spacious">
      <div class="mb-4 col-md-6 float-left">
        <h3 class="alt-h3 mb-2">Sign up for an account</h3>
        <p class="text-gray"><a href="https://github.com/signup/free" target="_blank">Sign up</a> for an individual GitHub account for free.</p>
        <p class="text-gray">If you have a personal GitHub account, simply <a href="https://government-community.githubapp.com/government">add and confirm</a> your government email.</p>
      </div>
      <div class="mb-4 col-md-6 float-left">
        <h3 class="alt-h3 mb-2">Create an organization</h3>
        <p class="text-gray">An organization is your official presence on GitHub. <a href="https://github.com/organizations/new">Create a free organization</a> after you log in. Open source projects stay free.</p>
        <p class="text-gray">Prefer to host your own GitHub instance? <a href="mailto:government@github.com">Contact us</a> or <a href="https://enterprise.github.com">request a free trial</a> to get started.
      </div>
    </div>
    <div class="mb-md-6 clearfix gutter-spacious">
      <div class="mb-4 col-md-6 float-left">
        <h3 class="alt-h3 mb-2">Join the Peer Group</h3>
        <p class="text-gray">Join the <a href="https://government-community.githubapp.com/government">semi-private group</a> of government employees using GitHub to share best practices for software collaboration.</p>
        <p class="text-gray">You will have access once the government email associated with your account is verified.
      </div>
      <div class="mb-4 col-md-6 float-left">
        <h3 class="alt-h3 mb-2">Learn More</h3>
        <p class="text-gray">Browse GitHub training resources at <a href="https://training.github.com">training.github.com</a>.</p>
        <p class="text-gray">Contact <a href="mailto:training@github.com">training@github.com</a> to bring GitHub training to your team.</p>
      </div>
    </div>
  </div>
</section>


<section id="contact-a-human" class="bg-gray-light">
  <div class="container-lg p-responsive py-5 py-md-6 text-center">
    <span class="text-center">
      {% octicon person height:42 class:"d-block mx-auto mb-4 text-center fill-gray" aria-label:person %}
    </span>
    <h3 class="alt-h2 mb-4">Talk to a human</h3>
    <p>Email <a href="mailto:government@github.com">government@github.com</a> to talk to GitHub's government team.</p>
    <p><a href="https://government-community.githubapp.com/government">Post a question</a> in the government community to get feedback from other GitHub users in government.</p>
  </div>
</section>

 -->














<!-- <body>
<ul align='left' style="font-size:2vw">
<li> 🔭 I’m currently working on my PhD thesis at <a href="http://www.iico.uaslp.mx/Paginas/Luis-Felipe.aspx">IICO/UASLP</a> and Teach Physics at <a href="https://www.upslp.edu.mx/upslp/"> Universidad Politecnica de San Luis Potosi</a></li>
<li> 🌱 I’m currently learning DFT and bandstructure packages</li>
<li> 💬 Ask me about Solid state experimental physics and computational calculation of Semiconductor Bandstructure </li>
<li> 📫 How to reach me: ruizoscar.1393@gmail.com, oscarruiz@cactus.iico.uaslp.mx and oscar.ruiz@upspl.edu.mx</li>
<li>  I collaborate in Nanophotonics IICO's research group led by <a href="https://github.com/NanophotonIICOs"> Dr. R.E. Balderas-Navarro and L.F. Lastras-Martinez</a> </li>
<li>⚛️<a href="https://scholar.google.es/citations?user=d5ygTH8AAAAJ&hl=es"> This is the list of my scientific publications</a>
</ul>
</body>
<a align='center' href="https://wakatime.com/@2502acb2-1684-4597-a422-d30dfa6a2f67"><img src="https://wakatime.com/badge/user/2502acb2-1684-4597-a422-d30dfa6a2f67.svg?style=for-the-badge" alt="Total time coded since Jan 22 2022" /></a>
<br/>
<h2 align='center'>
 🖥️ My workspace is an OPTIPLEX 7010-second hand<br/>
  <img src="https://img.shields.io/badge/Ubuntu-E95420?style=for-the-badge&logo=ubuntu&logoColor=white"/>
  <img src="https://img.shields.io/badge/intel-core%20i5%203th-%230071C5.svg?&style=for-the-badge&logo=intel&logoColor=white" />
  <img src="https://img.shields.io/badge/RAM-16GB-%230071C5.svg?&style=for-the-badge&logoColor=white" />
  <img src="https://img.shields.io/badge/nvidia-quadro%20k620-%2376B900.svg?&style=for-the-badge&logo=nvidia&logoColor=white" >
</h2>
<table>
<tr>
<td>OS</td>
<td><img src="https://img.shields.io/badge/Linux-FCC624?style=for-the-badge&logo=linux&logoColor=black"> 
<img src="https://img.shields.io/badge/Pop!_OS-48B9C7?style=for-the-badge&logo=Pop!_OS&logoColor=white"> 
<img src="https://img.shields.io/badge/Ubuntu-E95420?style=for-the-badge&logo=ubuntu&logoColor=white"> 
</td>
<tr>
<tr>
<td>Programming</td>
<td><img src="https://img.shields.io/badge/Python-FFD43B?style=for-the-badge&logo=python&logoColor=darkgreen"> 
<img src="https://img.shields.io/badge/Lua-2C2D72?style=for-the-badge&logo=lua&logoColor=white"> 
<img src="https://img.shields.io/badge/Fortran-%23734F96.svg?style=for-the-badge&logo=fortran&logoColor=white"> 
<img src="https://img.shields.io/badge/Julia-9558B2?style=for-the-badge&logo=julia&logoColor=white"> 
<img src="https://img.shields.io/badge/Shell_Script-121011?style=for-the-badge&logo=gnu-bash&logoColor=white"> 
<img src="https://img.shields.io/badge/c++-%2300599C.svg?style=for-the-badge&logo=c%2B%2B&logoColor=white"> 
<img src="https://img.shields.io/badge/latex-%23008080.svg?style=for-the-badge&logo=latex&logoColor=white"> 
</td>
</tr>
<tr>
<td>ML/DL</td>
<td><img src="https://img.shields.io/badge/numpy-%23013243.svg?style=for-the-badge&logo=numpy&logoColor=white"> 
<img src="https://img.shields.io/badge/pandas-%23150458.svg?style=for-the-badge&logo=pandas&logoColor=white"> 
<img src="https://img.shields.io/badge/SciPy-%230C55A5.svg?style=for-the-badge&logo=scipy&logoColor=%white"> 
</td>
</tr>
<tr>
<td>Frameworks</td>
<td><img src="https://img.shields.io/badge/Anaconda-%2344A833.svg?style=for-the-badge&logo=anaconda&logoColor=white"> 
</td>
</tr>
<tr>
<td>IDE/Editors</td>
<td><img src="https://img.shields.io/badge/Jupyter-F37626.svg?&style=for-the-badge&logo=Jupyter&logoColor=white"> 
<img src="https://img.shields.io/badge/Visual_Studio_Code-0078D4?style=for-the-badge&logo=visual%20studio%20code&logoColor=white"> 
</td>
</tr>
<tr>
<td>Version Control</td>
<td><img src="https://img.shields.io/badge/GIT-E44C30?style=for-the-badge&logo=git&logoColor=white">
<img src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white">
 </td>
</tr>
<tr>
<td>Social</td>
<td><a href="https://twitter.com/RUCO0713"><img src="https://img.shields.io/badge/Twitter-1DA1F2?style=for-the-badge&logo=twitter&logoColor=white"></td>
</tr>
</table>
<p align="center">
  <img src="https://github-readme-stats.vercel.app/api?username=RUCO13&show_icons=true&include_all_commits=true&theme=cobalt2">
</p>
<p align="center">
 <!-- <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=RUCO13&hide=html&theme=cobalt2"/> -->
 <!-- <img src="https://github-readme-stats.vercel.app/api/wakatime?username=RUCO13&theme=cobalt2"/>
</p>
<p align="center">
<a href="https://github.com/RUCO13?tab=repositories">
<img src="https://github-readme-streak-stats.herokuapp.com/?user=RUCO13&theme=dracula&hide_border=true"/>
</p>
<p align="center">
  <img src="https://github-profile-summary-cards.vercel.app/api/cards/profile-details?username=RUCO13&theme=solarized_dark"/>
</p>
<p align="center"
<a href="https://github.com/anuraghazra/github-readme-stats">
    <img align="center" src="https://github-readme-stats.vercel.app/api/top-langs/?username=RUCO13&langs_count=8&hide=html,PostScript&theme=radical&"/>
</a>
</p>

![](https://komarev.com/ghpvc/?username=RUCO13&style=for-the-badge&label=Visitors+Count&color=blue) --> -->
